@media (min-width: 568px) {
	#wrapper {
		.center {
			.title {
				width: 50%;
				font-size: 1.3rem;
			}

			video {
				max-width: 80vw;
				margin: 0 auto;
			}
		}

		.main_form {
			height: 100%;
			padding: 15px 30px;

			.selected_car {
				margin: 0 0 10px 0;
			}

			.select_leasing_or_cash,
			.warning,
			.personal_information,
			.sending_date {
				margin: 5px auto;

				input {
					margin: 2px;
				}
			}

			.accessories {
				button {
					margin: 0 5px;
					padding: 0;
					font-size: 0.7rem;
				}
			}

			.price {
				padding: 0;
				margin: 5px auto;
				h2 {
					font-size: 0.7rem;
				}
				p {
					font-size: 0.7rem;
				}
			}
		}

		.finish_screen {
			height: 100%;

			h1 {
				font-size: 1.5rem;
				margin: 10px auto;
			}

			.last_img {
				width: 60%;
				margin: 0 auto;
			}

			.date,
			.pay_form,
			.final_price {
				margin: 5px;
			}
		}
	}
}

@media (min-width: 768px) {
	#wrapper {
		nav {
			padding: 20px;
			display: flex;
			align-items: center;

			i {
				font-size: 3rem;
			}

			label {
				font-size: 1.5rem;
			}

			input {
				margin: 10px;
				height: 25px;
				width: 300px;
			}
		}
		.center {
			.title {
				width: 50%;
				font-size: 1.5rem;
			}

			video {
				margin: 0 auto;
				width: 80%;
			}
		}

		.main {
			width: 100%;
		}

		.main_form {
			height: 100vh;

			h1 {
				font-size: 2rem;
			}

			h2 {
				margin: 30px 0;
				font-size: 1.5rem;
			}
			.select_leasing_or_cash {
				label {
					font-size: 1.3rem;
				}
			}

			.personal_information {
				input {
					padding: 10px 20px;
				}
			}

			.sending_date {
				label {
					font-size: 1.5rem;
				}
				select {
					padding: 10px;
				}
			}

			.accessories {
				margin: 30px auto;
				display: block;
				text-align: center;
				button {
					margin: 10px auto;
					width: 70%;
					font-size: 1rem;
				}
			}

			.price {
				display: block;
				h2 {
					padding: 10px 0 0 10px;
					font-size: 1.5rem;
				}

				p {
					padding: 0 0 10px 10px;
					font-size: 1.5rem;
				}
			}

			.btn_select_or_buy {
				bottom: 24%;

				button {
					padding: 10px 15px;
				}
			}
		}

		.finish_screen {
			height: 100vh;

			h1 {
				font-size: 4rem;
			}

			.finish_car_name {
				font-size: 3rem;
			}

			.last_img {
				margin: 50px auto;
				width: 85%;
			}

			.date {
				font-size: 2rem;
			}

			.pay_form {
				font-size: 2rem;
				padding: 10px 0 0 0;
			}

			.final_price {
				font-size: 2rem;
				padding: 10px;
			}
		}
	}
}

@media (min-width: 1024px) {
	#wrapper {
		video {
			height: 86vh;
			width: 100vw;
		}

		.center {
			.title {
				width: 40%;
				font-size: 1.8rem;
			}
		}

		.main {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			padding: 10px;

			article {
				margin: 10px;

				img {
					height: 70%;
				}
			}
		}

		.main_form {
			top: 0;
			height: 100vh;

			.accessories {
				display: flex;
				button {
					margin: 0 20px;
					width: 50%;
				}
			}

			.price {
				width: 50%;
				height: auto;
			}

			.btn_select_or_buy {
				bottom: 10%;
			}
		}

		.finish_screen {
			height: 100vh;

			.last_img {
				margin: 20px auto;
				width: 70%;
			}
		}
	}
}

@media (min-width: 1440px) {
	#wrapper {
		.title {
			top: 50%;
		}

		.main_form {
			height: 100vh;

			.accessories {
				display: flex;
			}

			.btn_select_or_buy {
				bottom: 15%;
			}
		}

		.finish_screen {
			height: 100vh;

			.last_img {
				margin: 5px auto;
			}
		}
	}
}
