* {
	font-size: 100%;
}

#wrapper {
	nav {
		i {
			padding: 10px;
			color: var(--Color3);
			font-size: 1.5rem;
		}

		label {
			font-size: 0.9rem;
			color: var(--Color2);
		}
	}

	.center {
		.title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 70%;
			font-family: 'Open Sans', sans-serif;
			text-align: center;
			color: var(--Color2);
			background-color: rgb(64, 64, 64, 0.8);
			padding: 10px;
		}
	}

	.main_form {
		h1 {
			margin: 0 0 20px 0;
			text-decoration: underline;
		}

		.sending_date {
			.dateInfo {
				font-weight: bold;
			}
		}

		.warning.active3 {
			color: red;
			text-align: center;
		}
	}

	.finish_screen {
		h1 {
			font-size: 2rem;
			text-align: center;
			margin: 30px auto;
		}

		.finish_car_name {
			text-align: center;
			font-size: 1.5rem;
			font-weight: bold;
		}

		.date,
		.pay_form,
		.final_price {
			text-align: center;
			font-size: 1rem;
			font-weight: bold;
			margin: 10px;
		}
	}
}
